@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  color: black;
}

.primary-graident {
  background: linear-gradient(
    320deg,
    rgba(108, 255, 97, 0.5) 20%,
    rgb(244, 222, 222) 55%,
    rgba(255, 174, 243, 0.8) 100%
  );
  opacity: 0.8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-link-hover-effect {
  display: flex;
  position: relative;
  padding-bottom: 2px;
}

.underline-link-hover-effect::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0.5px;
  width: 0%;
  background-color: #000;
  transition: width 0.25s ease-out;
}

.underline-link-hover-effect:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.glassmorphism {
  background: rgba(67, 44, 44, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance glass effect */
}
